<div id="admin-work-list-container" class="container main-container">

    <div class="row">
        <div class="col-md-12 create-work-cols">
            <a href="#/work-create" id="create-work"><button type="button" class="btn btn-primary work-create-btn">CREATE</button></a>
        </div>
    </div>

    <div id="admin-create-work-list-container" class="row">
        <div class="col-md-3 work-col" ng-repeat="work in works" >
            <div class="img">
                <img src="/images/dummy/thumbnail.jpg" alt="" class="img-thumbnail img-responsive"/>
            </div>

            <div class="title">
                {{work.title}}
            </div>

            <div class="update-bt bt-container">
                <a href="#/work-update/{{work._id}}"><button type="button" class="btn btn-primary btn-xm">UPDATE</button></a>
            </div>

            <div class="bt-container">
                <button type="button" class="btn btn-danger btn-xm" ng-click="workDelete(work._id)">DELETE</button>
            </div>
        </div>
    </div>
</div>