$DEFAULT_COLOR: #898989;

#admin-work-create-container{
  color: $DEFAULT_COLOR;
  .admin-main-image{
    margin-bottom: 50px;
  }

  label{
    font-weight: 400;
  }

  .form-group{
    margin-bottom: 30px;

    button {
      margin-bottom : 12px;
      margin-right  : 10px;

      &:last-child{
        margin-right: 0;
      }
    }

    .bt-container{
      overflow: hidden;
      button{
        margin: 0;
        float: right;
      }
    }

  }
}